#root {
 width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
   background-color:black;
}


.logoTxt{

      text-shadow: 1px 1px rgb(102, 95, 145);

}


 .balance_cover{
height: 900px;
    border:none;
  width: 100%;
   border: none;
   background-color: rgb(0, 3, 19);
} 

.balance_con{

   background-color:black;
  border:none;
min-height: 700px;
  width: 100%;
  margin-top: 120px;

} 




.currencyBalanceRow{


border: none;
margin-top: 80px;
width: 60%;

}


.currencyBalanceCol{


border: none;
margin-top: 80px;

}



.displayBalanceKeys{

  color: white;
   background-color:rgba(71, 1, 133, 0.1);
    margin-top:130px;
    font-size: 17px;
     font-family:"EB Garamond,serif";
}


.displayBalanceValue{
  font-family:"EB Garamond,serif";
  color: white;
   background-color:rgba(71, 1, 133, 0.1);
    height: 30px;
}

.tableStyle{

  height:150px;

    width:100%;
    margin:auto;
    padding-top:30px;
}

.tableRowKey{

border:2px solid black;
margin-top:30px;

}



.tableRowValue{

border:2px solid black;
margin-top:30px;

}


.profileSetRow{

    border:none;
    width: 40%;
  border: none;
  margin: auto;
  align-self: center;
  border-radius: 12px;
  box-shadow: 3px 3px rgba(196, 189, 186, 0.521);


}


.profileSetCol{

  color:white; 
  background-color:rgba(122, 42, 4, 0.15); 
  min-height:100px;
border-radius: 12px;
border:none;
  



}


.profileSetText1{

color: white;
 font-size:20px;
 font-weight:bold;
  padding-top:10px;
  font-family:"EB Garamond,serif"
}


.profileSetText2{

color: white;
 font-size:16px;
 text-align: center;
  padding-top:10px;
    font-family:"EB Garamond,serif"
}

.homeContainer{

border: none;
  width: 100%; /* Ensure the parent takes full width */
  display: flex; /* Use flexbox to help with centering */
  justify-content: center; /* Center children horizontally */  
}

.chooseActionRow{
   width:60%;
  margin: auto;
   border:none;
    border-radius: 0px;
         /* box-shadow: 1.5px 1.5px  rgb(130, 130, 206); */



}


.chooseActionCol{

  
   background-color:rgba(71, 1, 133, 0.1);
    min-height:90px;
    font-family:"EB Garamond,serif";
    border:none;
    padding-top:20px;
    width: 40px;
    
}

.chooseActionbtn{
    
  margin-right:0px;
   color:white;
     box-shadow: 2px 2px rgb(102, 95, 145);
    height:50px;
    width:90px;
    border-radius: 12px;
  
}

.current_rates{

    border:none;
 width:45%;
 height: 200px;
 background-color: rgba(55, 10, 87,0.3);
 color:white;
 border-radius:13px ;
     box-shadow: 2px 2px rgb(102, 95, 145);


}

.swapRow{

  border: none;
  height: 500px;
    margin-top: 50px;
    

}

.swapCol{
    font-family:"EB Garamond,serif";

  border: none;
  height: 500px;
  margin-top: 50px;
  color: azure;
}

.swapCon{
  margin-top: 220px;
  height: 700px;
}

.depositRow{

  border: none;
  height: 500px;
    margin-top: 50px;
    
   
}

.depositCol{
   font-family:"EB Garamond,serif";
  border: none;
  height: 500px;
  margin-top: 50px;
  color: azure;
}

.depositCon{
  margin-top: 220px;
  height: 700px;
}


.transferRow{

  border: none;
  height: 500px;
    margin-top: 50px;
    
   
}

.transferCol{
font-family:"EB Garamond,serif";
  border: none;
  height: 500px;
  margin-top: 50px;
  color: azure;
}

.transferCon{
  margin-top: 220px;
  height: 700px;
}


.profileRow{

  border: none;
  height: 500px;
    margin-top: 50px;
    
   
}

.profileCol{
font-family:"EB Garamond,serif";
  border: none;
  height: 500px;
  margin-top: 50px;
  color: azure;
}

.profileCon{
  margin-top: 220px;
  height: 700px;
}

.transactionHistoryCon{

border:none;
height: 700px;
color: white;
margin-top: 90px;
}



.currencyBalancePageRow{
  border:none


}


















@media screen and (max-width:1000px){

 .balance_cover{
height: 100%;
    border:none;
  width: 100%;
   border: none;
   margin-top: 0px;
   background-color: black;
} 


.balance_con{

   background-color:black;
  border:none;
min-height: 700px;
  width: 100%;
  margin-top: 90px;

} 

.currencyBalanceRow{


border: none;
margin-top: 0px;
width: 95%;

}


.currencyBalanceCol{


border: none;
margin-top: 80px;

}



.displayBalanceKeys{

  color: white;
   background-color:rgba(60, 3, 110, 0.2);
    margin-top:130px;
    font-size: 17px;
     font-family:"EB Garamond,serif";
         text-shadow: 2px 2px rgb(52, 2, 97, 0.2);

}


.displayBalanceValue{
  font-family:"EB Garamond,serif";
  color: white;
   background-color:rgba(52, 2, 97, 0.2);
    height: 30px;
}

.tableStyle{

  height:120px;
width:100%;
    margin:auto;
    padding-top:30px;
}

.tableRowKey{

border:none;
margin-top:30px;
box-shadow: 2px 2px white;

}



.tableRowValue{

border:none;
margin-top:30px;
box-shadow: 2px 2px white;
}

.profileSetRow{

    border:none;
    width: 80%;
  border: none;
  margin: auto;
  align-self: center;
  border-radius: 12px;
  box-shadow: 3px 3px white;


}


.profileSetCol{

  color:white; 
  background-color:rgba(122, 42, 4, 0.15); 
  min-height:100px;
border-radius: 12px;
border:none;
  



}


.profileSetText1{

color: white;
 font-size:17px;
 font-weight:bold;
  padding-top:10px;
  font-family:"EB Garamond,serif"
}


.profileSetText2{

color: white;
 font-size:14px;
 text-align: center;
  padding-top:10px;
    font-family:"EB Garamond,serif"
}

.homeContainer{

border: none;
  width: 100%; /* Ensure the parent takes full width */
  display: flex; /* Use flexbox to help with centering */
  justify-content: center; /* Center children horizontally */  
}

.chooseActionRow{
   width:80%;
  margin: auto;
   border:none;
    border-radius: 0px;
    height: 190px;
        



}


.chooseActionCol{

   border-radius: 0px;
   background-color:rgba(0, 0, 0, 0.918);
    min-height:90px;
    font-family:"EB Garamond,serif";
    padding-top:27px;
    border: 1px solid rgba(106, 8, 192,0.2);
     box-shadow: 1.5px 1.5px rgba(106, 8, 192,0.2);
     width: 40px;
}

.chooseActionbtn{
    
  margin-right:0px;
   color:white;
     box-shadow: 2px 2px rgb(206, 202, 238);
    height:35px;
    width:90px;
    border-radius: 12px;
    font-size: 13px;
    text-shadow: 1px 1px rgb(17, 5, 95);
     background-color:rgba(20, 12, 43, 0.795);
  
}

.current_rates{

    border:none;
 width:90%;
 height: 150px;
 background-color: rgba(55, 10, 87,0.3);
 color:white;
 border-radius:13px ;
   box-shadow: 2px 2px white;;
     padding-top: 10px;


}

.swapRow{

  border:none;
  height: 500px;
    margin-top: 50px;
    

}

.swapCol{
    font-family:"EB Garamond,serif";

  border: none;
  height: 500px;
  margin-top: 50px;
  color: azure;
}

.swapCon{
  margin-top: 140px;
  height: 700px;
}

.depositRow{

  border: none;
  height: 500px;
    margin-top: 50px;
    
   
}

.depositCol{
   font-family:"EB Garamond,serif";
  border: none;
  height: 500px;
  margin-top: 50px;
  color: azure;
}

.depositCon{
  margin-top: 150px;
  height: 700px;
}


.transferRow{

  border: none;
  height: 500px;
    margin-top: 50px;
    
   
}

.transferCol{
font-family:"EB Garamond,serif";
  border: none;
  height: 500px;
  margin-top: 50px;
  color: azure;
}

.transferCon{
  margin-top: 150px;
  height: 700px;
}


.profileRow{

  border: none;
  height: 500px;
    margin-top: 50px;
    
   
}

.profileCol{
font-family:"EB Garamond,serif";
  border: none;
  height: 500px;
  margin-top: 50px;
  color: azure;
}

.profileCon{
  margin-top: 220px;
  height: 700px;
}


.currencyBalancePageRow{
  border:none;
  height:350px;
  margin-top: 170px;


}







}