#root {
 width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
   background-color:rgb(243, 234, 234);
}


.logoTxt{

      text-shadow: 1px 1px rgb(102, 95, 145);

}


 .balance_cover{
height: 900px;
    border:none;
  width: 100%;
   border: none;
   background-color: rgb(239, 242, 255);
} 

.balance_con{

   background-color:rgb(239, 242, 255);;
  border:none;
min-height: 700px;
  width: 100%;
  margin-top: 120px;

} 




.currencyBalanceRow{


border: none;
margin-top: 80px;
width: 60%;

}


.currencyBalanceCol{


border: none;
margin-top: 80px;

}



.displayBalanceKeys{

  color: white;
   background-color:rgba(71, 1, 133, 0.1);
    margin-top:130px;
    font-size: 17px;
     font-family:"EB Garamond,serif";
}


.displayBalanceValue{
  font-family:"EB Garamond,serif";
  color: white;
   background-color:rgba(71, 1, 133, 0.1);
    height: 30px;
}

.tableStyle{

  height:150px;

    width:100%;
    margin:auto;
    padding-top:30px;
}

.tableRowKey{

border:2px solid black;
margin-top:30px;

}



.tableRowValue{

border:2px solid black;
margin-top:30px;

}


.profileSetRow{

    border:none;
    width: 40%;
  border: none;
  margin: auto;
  align-self: center;
  border-radius: 12px;
  box-shadow: 3px 3px rgba(196, 189, 186, 0.521);


}


.profileSetCol{

  color:white; 
  background-color:rgba(122, 42, 4, 0.15); 
  min-height:100px;
border-radius: 12px;
border:none;
  



}


.profileSetText1{

color: white;
 font-size:20px;
 font-weight:bold;
  padding-top:10px;
  font-family:"EB Garamond,serif"
}


.profileSetText2{

color: white;
 font-size:16px;
 text-align: center;
  padding-top:10px;
    font-family:"EB Garamond,serif"
}

.homeContainer{

border: none;
  width: 100%; /* Ensure the parent takes full width */
  display: flex; /* Use flexbox to help with centering */
  justify-content: center; /* Center children horizontally */  
}

.chooseActionRow{
   width:60%;
  margin: auto;
   border:none;
    border-radius: 0px;
         /* box-shadow: 1.5px 1.5px  rgb(130, 130, 206); */



}


.chooseActionCol{

  
   background-color:rgba(71, 1, 133, 0.1);
    min-height:90px;
    font-family:"EB Garamond,serif";
    border:none;
    padding-top:20px;
   
    
}

.chooseActionbtn{
    
  margin-right:0px;
   color:white;
     box-shadow: 2px 2px rgb(102, 95, 145);
    height:50px;
    width:90px;
    border-radius: 12px;
  
}

.current_rates{

    border:none;
 width:45%;
 height: 200px;
 background-color: rgba(55, 10, 87,0.3);
 color:white;
 border-radius:13px ;
     box-shadow: 2px 2px rgb(102, 95, 145);


}

.swapRow{

  border: none;
  height: 500px;
    margin-top: 50px;
    

}

.swapCol{
    font-family:"EB Garamond,serif";

  border: none;
  height: 500px;
  margin-top: 50px;
  color: azure;
  
}

.swapCon{
  margin-top: 220px;
  height: 700px;
  
}

.swapRow{

  border: none;
  height: 500px;
    margin-top: 50px;
    

}

.swapCol{
    font-family:"EB Garamond,serif";

  border: none;
  height: 500px;
  margin-top: 50px;
  color: azure;
  
}

.swapCon{
  margin-top: 220px;
  height: 700px;
  
}


.depositRow{

  border: none;
  height: 500px;
    margin-top: 50px;
    
   
}

.depositCol{
   font-family:"EB Garamond,serif";
  border: none;
  height: 500px;
  margin-top: 50px;
  color: azure;
}

.depositCon{
  margin-top: 220px;
  height: 700px;
  width: 95%;
}


.transferRow{

  border: none;
  height: 500px;
    margin-top: 50px;
    
   
}

.transferCol{
font-family:"EB Garamond,serif";
  border: none;
  height: 500px;
  margin-top: 50px;
  color: azure;
}

.transferCon{
  margin-top: 220px;
  height: 700px;
}


.profileRow{

  border: none;
  height: 500px;
    margin-top: 50px;
    
   
}

.profileCol{
font-family:"EB Garamond,serif";
  border: none;
  height: 500px;
  margin-top: 50px;
  color: azure;
}

.profileCon{
  margin-top: 220px;
  height: 700px;
}

.transactionHistoryCon{

border:none;
height: 700px;
color: white;
margin-top: 90px;
}


.transactionHistoryRow{

border:none;

}

.transactionHistoryCol{

border:none;

}



.currencyBalancePageRow{
  border:none


}


















@media screen and (max-width:1000px){

 .balance_cover{
height: 660px;
    border:none;
  width: 100%;
   margin-top: 0px;
   background-color: rgb(239, 242, 255)
} 


.balance_con{
height: 670px;

   background-color:rgb(239, 242, 255);
  border:none;
min-height: 650px;
  width: 100%;
  margin-top: 0px;

} 

.currencyBalanceRow{


 border:none; 
border-radius: 15px;
box-shadow:"none";
padding: 4px;
width: 90%;
background-color: white;
height: 220px;

}






.profileSetRow{

    border:none;
    width: 90%;
  border:none;
  margin: auto;
  align-self: center;
  border-radius: 12px;
  box-shadow: 3px 3px white;
  height: 50px;
  background-color: white;

}


.profileSetCol{

  color:black; 
  background-color: white;
  min-height:40px;
border-radius: 12px;
border:none;
padding-top: 9px;
  



}


.profileSetText1{

color: white;
 font-size:17px;
 font-weight:bold;
  padding-top:10px;
  font-family:"EB Garamond,serif"
}


.profileSetText2{

color:black;
 font-size:14px;
padding-right: 90px; 
 padding-top:17px;
    font-family:"EB Garamond,serif";
    float: left;
}

.profileSetText2btnn{
  float: right;
   font-family:"EB Garamond,serif";
 font-size: 13px;
}




.conversionRow{

    border:none;
    width: 90%;
  border:none;
  margin: auto;
  align-self: center;
  border-radius: 12px;
  box-shadow: 3px 3px white;
  height: 50px;
  background-color: white;

}


.conversionCol{

  color:black; 
  background-color: white;
  min-height:40px;
border-radius: 12px;
border:none;
 padding-top: 9px;

  

}




.conversionText2{

color:black;
 font-size:14px;
padding-right: 10px; 
 padding-top:9px;
    font-family:"EB Garamond,serif";
    text-align: left;
     float: left;

}

.conversionbtnn{

 font-family:"EB Garamond,serif";
 font-size: 13px;
 float: right;

}






.homeContainer{

border: none;
  width: 100%; /* Ensure the parent takes full width */
  display: flex; /* Use flexbox to help with centering */
  justify-content: center; /* Center children horizontally */  
}

.chooseActionRow{
   width:100%;
 border: 0.5px solid white;    border-radius: 0px;
    height: 100px;
  align-content: space-between;
    background-color:rgb(239, 242, 255);
}


.chooseActionCol{
  
   border-radius: 0px;
   background-color:white;
    height:29px;
    font-family:"EB Garamond,serif";
    padding-top:12px;
   
      width: 0px;
     margin:auto;
}



.rate_conversion{

    border:2px solid red;
 width:90%;
 height: 150px;
 background-color: rgba(26, 3, 43, 0.8);
 color:white;
 border-radius:13px ;
   box-shadow: 2px 2px white;;
     padding-top: 10px;


}

.swapRow{

  border:none;
  height: 500px;
    margin-top: 50px;
   
   
}

.swapCol{
    font-family:"EB Garamond,serif";
/* background-color: rgb(232, 232, 241); */
  border: 2px solid rgb(117, 65, 65);
  height: 350px;
  color: rgb(3, 17, 17);
   margin:0px;
   box-shadow: 4px 4px rgb(117, 65, 65);
   border-radius: 12px;

 
}


.swaphomeContainer{
background-color: rgb(239, 242, 255);
border: none;
    margin-top: 0px;

}

.swapcashCon{
  margin-top: 0px;
  height: 670px;
  border:none;

}


.swapcashRow{
  margin-top: 0px;

  border:none;
  height: 500px;
   
   
}

.swapcashCol{
   font-family:"EB Garamond,serif";
  border:none;

  height: 400px;
  margin-top: 0px;
  margin:20px;
  /* color: black; */
  /* background-color: rgb(25, 25, 97); */
  /* box-shadow: 4px 4px rgb(25, 25, 97); */
   /* border-radius: 12px; */
}
 

.ratehomeContainer{
 width: 100%;
 height: 690px;
 margin: auto;
  border: none;
  background-color: rgb(239, 242, 255);
}

.rateCon{
  border:none;
            margin-top: 0px;
            height: 600px;

}

.rateRow{

  border:none;
  height:600px;
    
       margin-top: 190px;
       margin: auto;

}

.rateCol{
  
    font-family:"EB Garamond,serif";
 border:none;
  height: 300px;
  color: rgb(2, 19, 19);
   margin:0px;



 
}


.deposithomeContainer{
height: 666px;
  background-color: rgb(239, 242, 255);
border:none;
    margin-top: 0px;
}

.depositCon{
  margin-top: 20px;
  height: 500px;
  border:none;
   width:85%;
}



.depositRow{


  height: 465px;
    margin-top: 50px;
      border:none;
     
      align-self: center;

   
}

.depositCol{
   font-family:"EB Garamond,serif";
  border: none;

  height: 350px;
  margin-bottom: 70px;

  color: black;

} 

.transferhomeContainer{
width: 100%;
border:none;
margin: auto;
height: 690px;
}
.transferCon{
  margin-top: 20px;
  height: 680px;
  border:none;
}



.transferRow{

  border: none;
  height: 500px;
    margin-top: 50px;
    
   
}

.transferCol{
font-family:"EB Garamond,serif";
border: none;
  min-height: 440px;
  margin-top: 50px;
    margin:00px;
  color: black;
  width:"60%"
  
  
  
}



.profileRow{

  border: none;
  height: 500px;
    margin-top: 50px;
    
   
}

.profileCol{
font-family:"EB Garamond,serif";
  border: none;
  height: 500px;
  margin-top: 50px;
  color: azure;
}

.profileCon{
  margin-top: 220px;
  height: 700px;
}




.currencyBalancePageRow{
  border:none;
  height:350px;
  margin-top: 170px;


}


.transactionHistoryhomeContainer{
height:790px;
background-color: rgb(239, 242, 255);
   border:none;
}

.transactionHistoryCon{

border:none;
height: 479px;
color: white;
margin-top: 20px;
margin-bottom: 30px;
border-radius: 12px;
border-top: none;
}



.transactionHistoryRow{
  margin-top: 20px;

border:none;
height:240px;
}




.transactionHistoryCol{
overflow-y: scroll;
border:1px solid black;
height:470px;
margin-top: 20px;
width: 90%;


}





}